@import url(https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Quicksand:wght@300..700&display=swap);

#main-footer {
    padding: 50px 0;
    overflow: hidden;
    border-top: 1px solid black;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    color: white;
    font-size: 1.3em;
}

.titulo-contacto {
    padding-left: 150px;
    text-align: center;
}

.contenedor-imagen {
    position: relative;
    top: 1em;
    left: 1.3em;
}

.logo-footer {
    float: left;
    width: 110px;
    height: auto;
    margin-right: 30px;
}

.footer-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-redes li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-redes h2 {
    text-align: center;
}

.description-footer {
    width: 40%;
    margin-left: 5em;
}

@media screen and (min-width: 768px) {
    #main-footer {
        flex-direction: column;
    }
}

@media screen and (min-width: 1200px) {
    #main-footer {
        flex-direction: column;
    }
}
