body{
    background: #000;
    color: #fff;
    font-size: 2em;

}
#div1{
    background: pink;
}

#div2{
    background: yellowgreen;
}

#div3{
    background: blueviolet;
}
#div1, #div2, #div3 {
    width: 100px;
    height: 100px;
}